.logo {
  height: 125px;
  width: 180px;
}
nav {
    background-color: #333;
    font-size: 18px;
    justify-content: space-evenly;
  }

nav a {
    color: #fff;
    text-decoration:none;
  }

nav a:hover {
    color: #ccc;
    cursor: help;
  }
.random {
  background-color: aqua;
  width: 70%;
  margin: auto;
  border: 3px solid black;
  align-items: center;
  text-align: center;
}  
@media (max-width: 600px) {
    nav {
      display: none;
    }
    nav.open {
      display: block;
    }
  }

  